.content {
    width: 70%;
    margin:  auto;  
    
}

h1, h2, h3 {
    font-family: 'Roboto', 'Helvetica Nue', sans-serif;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 32px;
}

table {
    border: 1px solid black;
    border-collapse: collapse; 
}

td, th {
    border: 1px solid black;
}

figure {
    float: right;
    text-align: center;
    margin: 5px;
}

figcaption {
    font-style: italic;
}